{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "electron": "1.8"
                }
            }
        ],
        "stage-1",
        "react"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "react-require",
        ["transform-rename-import", {"react": "react/dist/react.min"}]
    ],
    "sourceMaps": "inline"
}
