#main {
    bottom: 30px;
}


#info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #272822;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: right;
    padding: 0 1em;
}

.info-image {
    color: #777;
}

.fullscreen #main {
    bottom: 0;
}

.fullscreen #info {
    display: none;
}
