@-webkit-keyframes loading-indication {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#loading {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 4px;
}

.loading-progress {
    background-color: #4bd46f;
    height: 100%;
    -webkit-animation: .5s linear 0s infinite alternate loading-indication;
}
