.root {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
    background-color: var(--color-contrast-primary);
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 1em;
    text-align: right;;
}

.tag {
    right: 30%;
}

.image {
    color: var(--color-neutural);
}
