.root {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
    background-color: #272822;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: right;
    padding: 0 1em;
}

.tag {
    right: 30%;
}

.image {
    color: #777;
}
