#tag {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    overflow: auto;
    z-index: 1000;
    background-color: #272822;
}

#tag input {
    box-sizing: border-box;
    width: 100%;
    height: 3em;
    display: block;
    margin: 10px 0;
    padding: 0 1em;
    border: 4px solid #272822;
}

#tag li {
    list-style: none;
    float: left;
    margin: 5px;
    padding: 1px 10px;
    border-radius: 30px;
    cursor: pointer;

    background-color: #52594a;
    color: #87d86b;
}

#tag li:hover,
#tag .tag-selected {
    background-color: #7ac46f;
    color: #e4eafb;
}

.tag-category ul {
    overflow: hidden;
    margin: 10px 0;
}

.tag-category-key {
    display: block;
    line-height: 1.5;
    font-size: 18px;
    font-weight: bold;
    padding-left: .5em;
    background-color: #44474f;
}
