.root {
    padding: 14px 24px;
    min-width: 270px;
    line-height: 20px;
    position: absolute;
    left: 24px;
    bottom: 70px;
    z-index: 50;
    background-color: var(--color-background-secondary);
    font-size: 14px;
    color: var(--color-neutural);
}

.title {
    display: flex;
    justify-content: space-between;
}

.toggle {
    width: 20px;
    height: 20px;
    fill: var(--color-neutural);
    opacity: .6;
    cursor: pointer;
    transition: opacity .4s linear;

    &:hover {
        opacity: 1;
    }
}

.content {
    margin-top: 1em;
}
